{% extends 'base.html.twig' %}

{% block title %}Home page -  {{ parent() }}{% endblock %}

{% block body %}

    <div class="main">
        <div class="example-wrapper">
            <h1>Welcome to Bloggy Platform! ✅</h1>

            {% for post in posts %}
                <article>
{#                    add link to show page#}
{#                    <h1><a href="{{ path('app_posts_show', {slug: post.slug}) }}">{{ post.title }}</a></h1>#}
                    <span>Published <time datetime="{{ post.publishedAt|date('d-m-Y H:m:s') }}"></time> {{ post.publishedAt|date }} by {{ post.author }}</span>
{#                    truncate body#}
                    <p>{{ post.body|u.truncate(150, '...', false) }}</p>
                </article>

            {% endfor %}

        </div>
    </div>

{% endblock %}
