{% extends 'layouts/base.html.twig' %}

{% block title %}Home page -  {{ parent() }}{% endblock %}

{% block body %}
    <div class="container pt-3">
        <div class="main">
            <div class="example-wrapper">
                <article>
                    <h1 class="h3">{{ post.title }}</h1>
                    <span>Published <time datetime="{{ post.publishedAt|date('d-m-Y H:m:s') }}"></time> {{ post.publishedAt|date }} by {{ post.author }}</span>
                    <p>{{ post.body|nl2br }}</p>
                </article>

                <a href="{{ path('app_posts_share', {slug: post.slug}) }}">Share this post</a>
                <hr>
                <section>
                    <h2>{{ post.comments|length }} comments</h2>

                    {% for comment in post.comments %}
                        <article>
                            <h4>
                                Comment by <a href="mailto:{{ comment.email }}">{{ comment.name }}</a>
                                {{ comment.createdAt|date}}
                            </h4>
                            <p>
                                {{ comment.content|nl2br }}
                            </p>
                        </article>
                    {% else %}
                        <p>
                            No comments !
                        </p>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>

{% endblock %}
